<div class=" p-4 sm:ml-64">
  <div class="flex-column">
    <div class=" text-3xl font-medium">Product Variants</div>
    <h1 class=" text-xl">Product Name : <%= @product.name %></h1>
    <h1 class=" text-lg">Category : <%= @categorieName %></h1>
    <h1>Description : <%= @product.description %></h1>
  </div>
</div>